.container {
	width: 800px; 
	margin: auto;
}

h4 {
	float: left;
}

.response {
	display: none;
}

.collapseResponse {
	float: right;
}

.responseContent {
	clear: both;
}

.noProducts {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 105;
	width: 100%;
	margin: auto;
	text-align: center;
	display: none;
}